* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior:smooth;
}

body {
    font-family: 'Libre Baskerville', serif;
    -ms-overflow-stye: none;
    scrollbar-width: none;

}

body::-webkit-scrollbar {
  display: none;
}



.menu-btn {
  display: none;
}

.punctenavigatie {
  position:fixed;
  display: flex;
  flex-direction: column;
  right:3vw;
  top:50vh;
  gap:25px;
  z-index: 997;
}

#sectiuneUnu:hover,#sectiuneDoi:hover,#sectiuneTrei:hover {
  transform: scale(1.5);
  transition: all 1s;
}

.contact .sticky {
  min-height: 10vh;
}

.sticky {
  position: relative;
  padding: 5px 10px;
  background: wheat;
  border-bottom: solid 2px black;
  transition: 0.5s;
  color: black;
  opacity: 0.9;
  height: 5vh;
}

.contact {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top:0.5vh;
  height: 5vh;
  width: 100%;
  font-size: 1.5vh;
  padding-top: 1vh;
  z-index:1000;
  height: 5vh;
}

.telefon,.mail,.adresa {
  gap: 15px;
  min-height: 2.5vh;
  min-width: 2.5vh;
  max-height: 2.5vh;
  max-width: 2.5vh;
  display: flex;
  align-items: center;
}

#pin {
  min-height: 2.5vh;
  min-width: 2.5vh;
  max-height: 2.5vh;
  max-width: 2.5vh;
}

#plic {
  min-height: 2.5vh;
  min-width: 2.5vh;
  max-height: 2.5vh;
  max-width: 2.5vh;
}

#siglatel {
  min-height: 2.5vh;
  min-width: 2.5vh;
  max-height: 2.5vh;
  max-width: 2.5vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {

    width: 50px;
    height: 50px;
}


.rightsidenav {
    position: absolute;
    top: 7vh;
    right: 50%;
}

.content {
  position: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap:10vw;
  width: 100%;
  right: -2vw;
  z-index:999;
}

.element {
  list-style-type: none;
  color: wheat;
  text-decoration: none;
}

.element1 {
  list-style-type: none;
}

.proiecte {
    position: relative;
    display: inline-block;
}

.proiecte-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 5;
        overflow:auto;
}

.proiecte-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .proiecte-content:hover {
    background-color: #ddd;
    overflow: visible;
    z-index: 999;
  }

  .proiecte:hover .proiecte-content {
    display: block;
    border: solid 2px wheat;
  }


/* PRIMA PARTE DIN LANDING PAGE */

#primasectiune {
  min-width: 100vw;
  min-height: 100vh;
}

  .bgimage { 
    position:absolute;
    opacity: 0.75;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    filter: brightness(45%);
  }

  #bg {
    height: 100%;
    width: 100%;
}

  .presentation {
    z-index: 1;
    position: relative;
    height: 87.5vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: hidden;
  }

  .titluri {
    position: relative;
    padding-left: 5vw;
    
  }

  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size:5vw;
  }
  
  h4 {
    font-family: 'Permanent Marker', cursive; 
    font-size:3vw;
  }
  h1, h4 {
    color: wheat;
  }

  .showMenu, .hideMenu {
    display: none;
  }

/* A DOUA PAGINA DIN LANDING */

#douasectiune {
  position:absolute
  min-height: 100vh;
  background-color: #5c5470;
  color: wheat;
}

.textul {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriere1 {
  animation: slideLeft 1s;
}

.descriere2 {
  animation: slideRight 1s;
}




  /* FOR SMALLER SCREENS UNDER 700px */

  @media(max-width:900px){

    .contact .sticky {
      min-height: 10vh;
    }

    .sticky {
      position: relative;
      padding: 5px 10px;
      background: wheat;
      border-bottom: solid 2px black;
      transition: 0.5s;
      color: black;
      opacity: 0.9;
      height: 5vh;
    }
    
    .contact {
      position: fixed;
      display: flex;
      justify-content: space-around;
      top:-5vh;
      height: 5vh;
      width: 100%;
      font-size: 1.5vh;
      padding-top: 1vh;
      z-index:1000;
      height: 15vh;
      gap:12px;
      text-shadow: 0;
    }

    .telefon {position: relative;
      left: 5px;
    }

    .telefon,.mail,.adresa {
      display: flex;
      flex-direction: column;
    }
    .rightsidenav {
      display:none;
      flex-direction: column;
      position: absolute;
      background-color: rgb(110, 108, 108);
      height: 100vh;
      width: 100vw;
      opacity:1;
      z-index: 998;
      justify-content: center;
      align-items: center;
      overflow: visible;
      bottom: 0vh;
      transition: 0.6s;
      top:0;
      right: 0;
    }
    .content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:15vh;
      font-family: 'Libre Baskerville', serif;
      font-size: 5vw;

    }
    .leftsidenav {
      position: relative;
      left: 50%;
    }
    .navbar {
      padding-top: 5px;
    }
    .showMenu, .hideMenu {
      display: block;
      cursor: pointer;  
      align-self: left;
      color: wheat;
    }
    .hideMenu{
      align-self: center;
    }
    .showMenu{
      display: inline-block;
      position: relative;
      top: 10px;
    }
    .titluri {
      padding-left: 5vw;
    }


    .menu-btn {
      top:2.5vh;
      display: flex;
      position: relative;
      display: flex;
      width: 7vw;
      height: 3vw;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      z-index:999;
      right: 7vw;
    }

    .menu-btn_burger {
      width: 7vw;
      height: 0.5vw;
      background: black;
      border-radius: 0.5vw;
      transition: all 0.5s ease-in-out;
    }

    .menu-btn_burger::before,
    .menu-btn_burger::after {
      content: "";
      position: absolute;
      width: 7vw;
      height: 0.5vw;
      background: black;
      border-radius: 0.5vw;
      transition: all 0.5s ease-in-out;
    }



.contact {
    display: inline-grid;
    grid-template-columns: 30% 30% 25% 15%;
    place-items: center;
} 

/*
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size:25px;
  }
  
  h4 {
    font-family: 'Permanent Marker', cursive; 
    font-size:15px;
  } */

  }

  /* ANIMATII */

  @keyframes slideLeft {
    from {
      transform: translateX(-300px);
    }

    to {
      transform: translateX(0);
    }
  }
  @keyframes slideRight {
      from {
        transform: translateX(300px);
      }
  
      to {
        transform: translateX(0);
      }
    }
      @keyframes slideDown{
        from {
          transform: translateY(-300px);
        }
        to {transform: translateY(0);
        }
      }
      
      @keyframes slideUp {
        from {
          transform: translateY(300px);
        }
        to {
          transform: translateY(0);
        }
      }

      #Pereti {
        animation: slideUp 2.5s;
      }

      #Geam {
        animation: slideLeft 2.5s;
      }

      #liniidrum {
        animation: slideDown 2.5s;
      }

      .menu-btn_burger::before {
        transform: translateY(-16px);
      
      }
      .menu-btn_burger::after {
        transform: translateY(16px);
      }

      .menu-btn.open .menu-btn_burger {
        transform: translateX(-50px);
        background: transparent;
      }

      .menu-btn.open .menu-btn_burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
